<main class="container">
  <header>
    {{#link-to 'index' tagName="h2"}}CVC - Ember Example{{/link-to}}
  </header>

  <br>

  <form class="form-horizontal">
    <fieldset>
      <legend>Get Room From API</legend>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Hotel</label>
        <div class="col-lg-10">
          {{input type="text" value=hotelId class="form-control" id="hotel_id" placeholder="Id" required=true}}
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Room</label>
        <div class="col-lg-10">
          {{input type="text" value=roomId class="form-control" id="room_id" placeholder="Rate Token" required=true}}
        </div>
      </div>

      {{#if validationError}}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert" {{action 'closeMsg'}}>&times;</button>
          <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
        </div>
      {{/if}}

      <button {{action 'findRoom' hotelId roomId}} id="find_room_btn" class="btn btn-primary pull-right"> Find room </button> 
      <button {{action 'exampleFill'}} class="btn btn-default pull-right" id="fill_in_btn" style="margin-right: 15px"> Fill in with example </button>

    </fieldset>

  </form>

  <br>
  <div class="clearfix"></div>

  {{outlet}}

</main>