{{#if model}}

  <div class="well well-lg">
    
    <legend>Found it!</legend>

    <div class="row">
      <b class="col-lg-1">Name</b>
      <i class="col-lg-11" id="room_name">{{model.name}}</i>
    </div>

    <div class="row">
      <b class="col-lg-1">Meal</b>
      <i class="col-lg-11" id="room_plan">{{model.mealPlan}}</i>
    </div>

    <div class="row">
      <b class="col-lg-1">Category</b>
      <i class="col-lg-11" id="room_category">{{model.category}}</i>
    </div>

    <div class="row">
      <b class="col-lg-1">Quantity</b>
      <i class="col-lg-11" id="room_available">{{model.quantityAvailable}}</i>
    </div>

    <div class="row">
      <b class="col-lg-1">Available?</b>
      <i class="col-lg-11" id="room_is_available">{{if model.isAvailable "yes" "no"}}</i>
    </div>

  </div>

{{else}}

  <h3>Couldn't find any :/</h3>

{{/if}}